doctype html
html(ng-app='app')
  head
    title Angulatool
    // build:css bundle.css
    // bower:css
    // endbower
    // inject:css
    // endinject
    // endbuild
  body
    root
    // build:js bundle.js
    // bower:js
    // endbower
    // inject:js
    // endinject
    // endbuild
